<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChatBot Test Automation Test Suite">

	<listeners>
		<listener class-name="com.agiliz.chatbot.ExtentReportListener.ExtentReporterNG"/>
			
	</listeners>

	<test name="ChatBot Test Cases">
		<classes>
			<class name="com.agiliz.chatbot.testcases.ActiveCardTest"></class>
			

		</classes>
	</test>
</suite>